services:
  db:
    image: postgres:18-alpine
    environment:
      POSTGRES_USER: "postgres"
      POSTGRES_PASSWORD: "postgres"
      POSTGRES_DB: "postgres"
    volumes:
      - postgres_data:/var/lib/postgresql/data/
    networks:
      - empi
    restart: unless-stopped

  api:
    depends_on:
      - db
    build:
      context: .
      target: api
    ports:
      - "8000:8000"
    networks:
      - empi
    restart: unless-stopped

  web:
    depends_on:
      - api
    build:
      context: .
      target: web
    ports:
      - "3000:3000"
    networks:
      - empi
    restart: unless-stopped

volumes:
  postgres_data:

networks:
  empi:
    driver: bridge
    driver_opts:
      com.docker.network.bridge.name: "br-empi"
