:root {
    color-scheme: light dark;

    &:has(#theme-select option[value="light"]:checked) {
        color-scheme: light;
    }

    &:has(#theme-select option[value="dark"]:checked) {
        color-scheme: dark;
    }
}